.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
  flex-direction: column;
}

mat-card{
    width: 400px;
    padding: 40px;
}

mat-form-field{
    width: 100%;
}

.header-reset{
    text-align: center;
}



.lert-warning{
    background-color: #fffaf6;
    border:1px solid  #fa9f47;
    color: #b24603;
    padding: 10px;
    border-radius: 4px;
    font-size: 14px;
    display: flex;
    justify-content: center;
}

.lert-succes{
    background-color: #f8fcf9;
    border-color: #86cf95;
    color: #068019;
    font-size: 14px;
    border: 1px solid #86cf95;
    padding: 10px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
}
