<div class="container">
  <h1>MOBILSOFT</h1>
  <mat-card>
    <mat-card-subtitle>
      Enter your email address below and we'll send you a link to reset your
      password.
    </mat-card-subtitle>

    @if (emailFound) {

    <mat-card-title class="lert-succes" tyle="margin: 30px 0">
      Te hemos enviado un mensaje a ti correo Si no recibes un correo electrónico y no está
      en tu carpeta de correo no deseado, esto podría significar que te
      registraste con una dirección diferente.
    </mat-card-title>

    } @if(emailNotFound){

    <mat-card-title class="lert-warning" tyle="margin: 30px 0">
      Tu correo no fue encontardo. Si no recibes un correo electrónico y no está
      en tu carpeta de correo no deseado, esto podría significar que te
      registraste con una dirección diferente.
    </mat-card-title>

    }

    @if(!emailFound){
    <mat-card-content>
      <form [formGroup]="formularioReset">
        <mat-form-field appearance="outline">
          <mat-label>Correo</mat-label>
          <input
            matInput
            type="text"
            autocomplete="off"
            formControlName="email"
          />
          <mat-icon matSuffix>email</mat-icon>
        </mat-form-field>
        <button
          alien
          mat-raised-button
          color="warn"
          class="btn"
          (click)="resetPassword()"
        >
          Reset Passworxd
        </button>
      </form>
    </mat-card-content>
  }
  </mat-card>
</div>

<!--  <html>
    <body style="bat">
        <div  style="width: 200px;   background-color: red; height: 400px;">
            <h1>Hola como te sientes</h1>
      </div>
    </body>
 </html>

 -->
