

<div class="container">
  <mat-card>
    <mat-card-header style="font-size: 25px; margin-bottom: 25px;" class="header">
        Reset Password
    </mat-card-header>

    @if(passWordSave){
    <mat-card-title class="succes" style="margin: 30px 0;">
      Your password has been saved
    </mat-card-title>
   }

    <mat-card-content>
      <form [formGroup]="formularioActualizar">
        <mat-form-field appearance="outline">
          <mat-label>New Password</mat-label>
          <input
            matInput
            type="password"
            autocomplete="off"
            formControlName="newPassword"
          />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Confirm Password</mat-label>
          <input
            matInput
            type="password"
            autocomplete="off"
            formControlName="confirmPassword"
          />
        </mat-form-field>

     

        <button
          alien
          mat-raised-button
          color="warn"
          class="btn"
          (click)="actualizarPassword()"
        >
          Edit Password
        </button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
