.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    flex-direction: column;
  }
  
  mat-card{
      width: 400px;
      padding: 40px;
  }
  
  mat-form-field{
      width: 100%;
  }

  .succes{
    background-color: #f8fcf9;
    border-color: #86cf95;
    color: #068019;
    font-size: 14px;
    border: 1px solid #86cf95;
    padding: 10px;
    text-align: center;
    border-radius: 4px;
    margin-top: 20px;
  }

  .header{
    display: flex;
    justify-content: center;
    color: #f44336;
  }