<!-- 
<div class="container">
    
     <div class="container_form">
        <form>
            <div>
                <label>Nombre</label>
                <input>
            </div>
            <div>
                <label>Apellido</label>
                <input>
            </div>
            <div>
                <label>Correo</label>
                <input>
            </div>
         
            <div>
                <label>Nombre</label>
                <input>
            </div>
            <div>
                <label>Apellido</label>
                <input>
            </div>
            <div>
                <label>Correo</label>
                <input>
            </div>
         
            <div>
                <label>Nombre</label>
                <input>
            </div>
            <div>
                <label>Apellido</label>
                <input>
            </div>
            <div>
                <label>Correo</label>
                <input>
            </div>
         
            <div>
                <label>Nombre</label>
                <input>
            </div>
            <div>
                <label>Apellido</label>
                <input>
            </div>
            <div>
                <label>Correo</label>
                <input>
            </div>
         
        </form>

        <div class="retenciones_container">
            <h1>Retenciones</h1>       
            <div class="container_box">
                <div>
                    <label>Apellido</label>
                    <input>
                </div>
                <div>
                    <label>Apellido</label>
                    <input>
                </div>
                <div>
                    <label>Apellido</label>
                    <input>
                </div>
                <div>
                    <label>Apellido</label>
                    <input>
                </div>
                <div>
                    <label>Apellido</label>
                    <input>
                </div>
                <div>
                    <label>Apellido</label>
                    <input>
                </div>
                <div>
                    <label>Apellido</label>
                    <input>
                </div>
                <div>
                    <label>Apellido</label>
                    <input>
                </div>
                <div>
                    <label>Apellido</label>
                    <input>
                </div>
            </div>
        </div>
        
     </div>
</div> -->

<header>
  <ul>
    <li>Home</li>
    <li>Home</li>
    <li>Home</li>
    <li>Home</li>
    <li>Home</li>
  </ul>
</header>

<div class="grid">
  <div>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repudiandae modi id architecto nulla? Repellendus dicta vero sit perspiciatis voluptate molestiae ipsa, ab, eum expedita nobis necessitatibus libero, optio natus blanditiis.</div>
  <div>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Autem voluptatibus dolore voluptas, tenetur laudantium accusamus voluptate dolorum? Laudantium eaque est distinctio accusamus iure, aliquam officia quod illum reprehenderit necessitatibus delectus!</div>
  <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia est sed delectus temporibus dolorem sint repellendus necessitatibus, adipisci et! Voluptatem, fuga officiis. Tempora et doloremque debitis veniam saepe distinctio quod?</div>
  <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus ea itaque mollitia vitae aspernatur adipisci earum, iusto eligendi asperiores saepe exercitationem eveniet minima commodi magni ut ex dolorum molestiae. Non?</div>
</div>
