<mat-card style="margin: 20px 40px 40px 40px">
    <mat-card-content>
      <mat-grid-list class="grid" cols="3" rowHeight="100px">
  
        <mat-grid-tile class="col">
          <mat-card class="card-info">
            <mat-card-header>
              <div mat-card-avatar>
                <mat-icon>group</mat-icon>
              </div>
              <mat-card-title>Empleados</mat-card-title>
              <mat-card-title>S/.{{empleados}}</mat-card-title>
            </mat-card-header>
          </mat-card>
        </mat-grid-tile>
  
        
        <mat-grid-tile class="col">
          <mat-card class="card-info">
            <mat-card-header>
              <div mat-card-avatar>
                <mat-icon>payments</mat-icon>
              </div>
              <mat-card-title>Tareas</mat-card-title>
              <mat-card-title>S/.{{activeTasks}}</mat-card-title>

            </mat-card-header>
          </mat-card>
        </mat-grid-tile>
  
        
        <mat-grid-tile class="col">
          <mat-card class="card-info">
            <mat-card-header>
              <div mat-card-avatar>
                <mat-icon>payments</mat-icon>
              </div>
              <mat-card-title>Por hacer</mat-card-title>
              <mat-card-title>S/.{{tasksInactive}}</mat-card-title>

            </mat-card-header>
          </mat-card>
        </mat-grid-tile>
  
        
  
      </mat-grid-list>
    </mat-card-content>
  </mat-card>